* {
    box-sizing: border-box;
    font-family: 'Lora', serif;
}


body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
   
}
.navbar {
    width: 100%;
    background-color: darkblue;
}


.navbar ul {
    width: 100%;
    text-align: center;
    
}

.navbar ul li {
    margin: 8px;
    position: relative;

}

nav a {
    padding: 30px;
    font-size: 18px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    position: relative;

}

nav img {
    margin-left: 20px;
    transform: scale(2.6);
    height: 100px;

    width: 100px;
}



.navbar ul li a:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: #fff;

    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;

}

.navbar ul li a:hover:after {
    width: 100%;
    left: 0;
}

@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

.main_heading h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}
.column_1{
     height:800px;
  background-color: rgb(25, 25, 116);
     border: 2px solid none;
     border-radius: 5px;
     display: flex;
     flex-direction: column;
     justify-content: center; 
}
.text{
    display: flex;
     flex-direction: column;
     justify-content: center;
     height: 700px;
}
.column_1 ul{
    list-style-type:circle;
 
  
}
.column_1 ul li{
    font-size: 19px;
    color: white;
}
.column_1 h3{
    color: white;
}
.column_1 h5{
    color: white;
}
.column_2{
    height: 600px;
   background-image: url("../images/Veggie\ pita\ pocket.jpg"); 
   background-size:500px;
 background-repeat: no-repeat;
   border: 2px solid none;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  align-self: center;
    
}


.testimonials_heading{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
 color: white;
}
#testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width:100%;
    border: 2px solid none;
    border-radius:  5px;
    background-color: rgb(25, 25, 116);
}   
.testimonial-box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width:100%;
}
.testimonial-box{
    width:500px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    background-color: rgb(32, 32, 130);
    padding: 20px;
    border: 2px solid none;
    border-radius: 8px;
    margin: 15px;
    cursor: pointer;

}
.profile-img{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
}
.profile-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.profile{
    display: flex;
    align-items: center;
}
.name-user{
    display: flex;
    flex-direction: column;
}
.name-user strong{
    color: white;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
}
.name-user span{
    color: white;
    font-size: 0.8rem;
}
.reviews{
    color: #f9d71c;
}
.box-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.client-comment p{
    font-size: 0.9rem;
    color: white;
}
.testimonial-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
 
@media(max-width:1060px){
    .testimonial-box{
        width:45%;
        padding: 10px;
    }
}
@media(max-width:790px){
    .testimonial-box{
        width:100%;
    }
    .testimonial-heading h1{
        font-size: 1.4rem;
    }
}
@media(max-width:340px){
    .box-top{
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .reviews{
        margin-top: 10px;
    }
}

 





.footer {
    background-color: darkblue;
    font-size: 16px;

    color: white;
    height: auto;
   background-size: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
   
}

ul>li {
        padding: 2px;
    color: white;
}

ul>li>a {
    text-decoration: none;
    color: cyan;
}

ul>li>a:hover {
   color: white;
    cursor: pointer;
    font-size: 18px;
}

hr {
    border-width: 3px;
}

.card10 {
    padding: 2% 7%;

}


.policy>div {
    padding: 4px;
}

.heading {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 540;
    font-size: 20px;
    /* color: black; */
}

.divider {
    border-top: 2px solid;
}

.social {
   
    background-color: none;
    display: flex;
    justify-content: left;
    align-items: left;

}

.social .link {
    height:60px;
    width: 60px;
    /* background-color: white; */
    border-radius: 35px;
    text-align: left;
    /* margin: 3px; */
    /* line-height: 80px; */
    transform: scale(0.8);
}

.social a i {
    transition: all 0.3s linear;
}

.social a:hover i {
    transform: scale(1.5);
    cursor: pointer;
}

.youtube {
    color: rgb(227, 53, 53)
}

.youtube:hover {
    color: red;

}

.facebook:hover {
    color: rgb(72, 72, 248);

}

.instagram {
    color: #f54996;
}

.instagram:hover {
    color: #e11d74;
}

.twitter {
    color: #21bcf9;
}

.twitter:hover {
    color: #00acee;
}

.infobox div{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
 .infobox div span{
    min-width: 40px;
    height: 40px;
    color:#fff;
    background: #18b7ff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    border-radius: 50%;
    margin-right: 15px;
}

 .infobox div a{
    color: cyan;
    text-decoration: none;
    font-size: 1.1em;
}
.infobox div a:hover{
    color: white;
    font: 1.2em;
}
